.veg-container{
    width: 500px;
    height:600px;
    align-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 25px;
    box-sizing: border-box;
    background-color: rgba(204, 6, 6, 0.089);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
.veg-container p{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}
.veg-container h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #1b404b;
    font-size: 30px;
    padding-bottom: 10px;
}
.top-image img{
    height: 300px;
    width:460px;
}

.star{
    width:20px;
    height: 20px;
}
.bottom-row{
    list-style: none;
    display:inline-flex;
    padding-top: 40px;
    padding-left: 10px;
    transform: translateY(-20%);
}
.price{
    margin-right: 30px;
    font-family: 'Estonia', cursive;
    font-weight:1000;
    font-size: 50px;
    color: RED;
    transform: translateY(-20%);
}

.addToCart{
    height:40px;
    width:110px;
    border-radius: 20px;
    color: azure;
    background-color: #1b404b;
    outline: none;
    border: none;
    cursor: pointer;
}
.addToCart:hover{
    height:40px;
    width:110px;
    border-radius: 20px;
    color: #1b404b;
    background-color: azure;
    outline: none;
    border: none;
    cursor: pointer;
}
.override-gc{
    height: 300px;
    width:460px;
}