.img-section{
    float: left;
    width: 25%;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-left: 15%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

.description{
    padding:25px;
    float: right;
    width: 45%;
    border-radius: 4px;
    background-color: #CBC3E3;
    padding: 20px;
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-right: 15%;
    display: flex;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

.staff, .about{
    text-align: center;
    font-style: italic;
    background: linear-gradient(90deg, rgba(194,232,240,1) 1%, rgba(127,151,163,1) 47%, rgba(162,153,182,1) 86% );
    float: right;
    width: 70%;
    border-radius: 4px;
    padding: 20px;
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-right: 15%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}

.huzaifa-img, .hanzalah-img, .zubair-img, .ziyad-img{
    float: left;
    width: 20%;
    padding: 20px;
    background-color: lightskyblue;
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-left: 15%;
    margin-right: 2.5%;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

.huzaifa, .hanzalah, .zubair, .ziyad{
    float: right;
    width: 45%;
    border-radius: 4px;
    background-color: #CBC3E3;
    padding: 20px;
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-right: 15%;
    margin-left: 2.5%;
    display: flex;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.5);
}
