@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Estonia&display=swap');

.hero-container{
    background: url('../images/homeBack.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    justify-content: center;
}
.hero-container h1{
    font-size:100px;
    font-family: 'Estonia', cursive;
    color: #c2e8f0;
}

.hero-container h2{
    font-size:20px;
    font-family: 'Abhaya Libre', serif;
    font-family: 'Bebas Neue', cursive;
    color: #144752;
    padding-bottom: 10px;
}
.hero-container h3{
    padding-bottom: 10px;
}
