.container{
  background-color: #ebe1ec;
}
.signUp{
    text-align: center;
    color: #4066E0;
    font-size:50px;
    font-family: 'Abhaya Libre', serif;
    padding-top: 30px;
    color: rgb(63, 63, 129);
}

.signUp-form
{
    padding:25px;
    background: lightcoral;
    float: right;
    width: 45%;
    border-radius: px;
    background-color: #CBC3E3;
    padding: 20px;
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-right:27%;
    display: flex;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

input[type=text], input[type=password], input[type=email] select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  
  /* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: purple;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
  /* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color:#301934;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  border: 5px solid dodgerblue;
  background: lightcoral;
  float: right;
  width: 45%;
  border-radius: px;
  background-color: #CBC3E3;
  padding: 20px;
  margin-top: 2%; /* Add a top margin */
  margin-bottom: 5%; /* Bottom margin */
  margin-right:27%;
  box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

.formContainer #registration {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.login {
  padding:25px;
    background: lightcoral;
    float: right;
    width: 45%;
    border-radius: px;
    background-color: #CBC3E3;
    padding: 20px;
    margin-top: 2%; /* Add a top margin */
    margin-bottom: 5%; /* Bottom margin */
    margin-right:27%;
    display: flex;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}