.footer-container{
    height: 20em;
    background: rgb(162,153,182);
    background: linear-gradient(90deg, rgba(162,153,182,1) 1%, rgba(127,151,163,1) 47%, rgba(194,232,240,1) 86%);
    font-size: 1.2rem;
    font-family: 'Abhaya Libre', serif;
}

.paragraph{
    text-align: center;
    padding: 10px;
}
.footerh1{
    padding: 10px;
}
